#kolom61 {
    color: white;
}

#kolom62 {
    background-color: white;
}

#btnavail {
    background-color: transparent;
    color: orange;
    border-color: orange;
}

#btnread {
    background-color: transparent;
    border-color: orange;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}
  
.zoom:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

#about {
    color: orange;
}

#what {
    color: orange;
}
